<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Foundations of Software</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="index.html"><h1>Foundations of Software</h1></a>
        
          
        
          
            <p><a href="documents.html">Documents</a></p>
          
        
          
            <p><a href="environment-setup.html">Environment Setup</a></p>
          
        
          
            <p><a href="handing-in.html">Handing In</a></p>
          
        
          
            <p><a href="project1.html">Project 1 - The NB Language</a></p>
          
        
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>